* {
    box-sizing: border-box;
    padding: 10px;
}

body {
    font-family: sans-serif;
    font-weight: normal;
}

h2 {
    font-weight: bold;
    font-size: 18px;
}

#search-bar {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    justify-items: center;
}

#banner {
    display: flex;
    font-weight: bold;

    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

#banner img {

    max-width: 100px;
    height: auto;
}

#results {
    display: flex;
    flex-wrap: wrap;
    outline: 1px solid red;
}

#results li {
    display: flex;
    justify-content: center;
    justify-items: center;
    outline: 1px solid blue;
    margin: 10px;
}

#page_control {
    display: flex;
}

#page_control ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

@media (max-width: 400px) {
    #banner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #results {
        display: grid;
        outline: 1px solid red;
        grid-template:
            "a b"
            "c d"
            "e f"
            "g h"
            "i j";
            padding: 5px;
            margin: 5px;
    }
    
    #results li {
        display: grid;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        justify-items: center;
        outline: 1px solid blue;
        max-width: 100%;
        height: auto;
    }
}
